/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00272d;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    font-family: "Pixelify Sans";
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav li a{
    color: beige;
    text-decoration: none;
    font-size: 20px; /*Esta bien el tamaño de letra*/
    text-transform: capitalize;
}

nav li a:hover{
    text-decoration: none;
    color: #f7a21b;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
}

.iconos a {
    margin: 0 10px;
    color: #333;
    font-size: 20px;
    padding: 10px 10px;
}
.iconos a:hover {
    color:#fdeecd;
    background-color: orange;
    border: 4px solid;
    border-radius: 3px;
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url('../imagen/paisaje.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidouno {
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.contenidouno h1{
    margin-top: 200px;
    margin-bottom: 25px;
    font-family: "McLaren";
    color: #1f1f20;
    font-size: 30px;
}

.contenidouno h2{
    font-family:"Roboto";
    color:#fe9e8e;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.contenidouno p{
    margin-bottom: 30px;
    font-family: "Playwrite NG Modern";
    color: #e7e18f;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.buttons{
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.button {
    background-color: #9aedb5;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
    font-family: "Roboto";
}

.button:hover {
    /*background-color:#e7e18f;*/
    background-color: #4eb3de;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
    box-shadow: 10px 10px 10px;color: #d60257;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url('..//imagen/paisaje2.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Jost";
    font-size: 30px;
    color: #9aedb5;
    text-decoration: underline;
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
    color: #f3e306;
}




/*creando la seccion 03 del contenido de la pagina*/

.galeria {
    background-color: #917f6e;
    padding: 50px 0;
    border-radius: 5px;
    }

.galeria h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    color: #24434b;
    font-family: "McLaren";
    text-decoration:overline;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.galeria p {
    color: #535656;
    text-align: center;
    font-size: 12px;
    line-height:5px ;
    margin-bottom: 10px;
    color: #fcf09f;
    font-weight: bold;
    text-transform: lowercase;
    font-family: "Pixelify Sans";
    letter-spacing: 2px;
}

.contenidotres {
    max-width: 1200px;
    height: 550px; /*450px*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}

.contenidotres .columna img {
    max-width: 100%;
    height: auto;
    border: 2px solid #9aedb5;
    padding: 6px;
    border-radius: 15px;
    
}

.contenidotres .columna p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
}

.contenidotres .columna a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff1457;
    color:#2b2c30;
    text-decoration: none;
    border: 3px solid #2b2c30;
    border-radius: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.contenidotres .columna a:hover {
    background-color: #79bba8;
    box-shadow: 5px 10px 4px;
}



/*creando el Footer - pie de pagina final de
la pagina*/

.footer {
    background-color: #35313b;
    color: #fff;
    padding: 20px;
}

.filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h3, p {
    color: #6e9167;
    margin: 0;
    text-decoration:underline;
    letter-spacing: 2px;
    font-family: "Roboto";
}
.Espacio p{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

.social-icons1 {
    display: flex;
}



/* Aquí puedes agregar tu CSS */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #d5f0f4;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077b5; /* Cambia esto según el color que desees para el hover */
}
h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family:"Playwrite NG Modern";
    text-decoration: underline;
}


